<%= render "layouts/navbar" %>
<div class="page-header text-center">
	<h1>Savings</h1>
</div>
<section class="text-center">
	<h3>Your total savings since joining are:</h3>
	<h1>$<%=@total_savings%></h1>
</section>
<section class="text-center">
	<h3>If you stick with your daily budget, you will save:</h3>
	<h1>$<%=@monthly_savings%></h1>
	<h3>this month!!</h3>
</section>
<hr>
<section class="text-center">
	<h3>Here's your daily budget performance over the last 10 days:</h3>
	
	<div class="row">
		<!-- extra div to manually offset thumbnails below -->
		<div class="col-xs-1"></div>
		<% 10.times do |s| %>
		<div class="col-xs-1">
			<div class="thumbnail">
				+
			</div>
		</div> 
		<% end %>
		<!-- extra div to manually offset thumbnails above, completing col of 12 -->
		<div class="col-xs-1"></div>
	</div>
	
</section>
	