<%= render "layouts/navbar" %>
<div class="container">
	<div class="row">
		<h3 class="text-center">Your personal dashboard:</h3>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-6 savings-div">
			<h4 class="text-center">You have saved <strong>$<%=@total_savings%></strong></h4>
			<br>
			<h4 class="text-center">Insert chart here</h4>
		</div> <!-- end of col div -->
		<div class="col-sm-6 history-div">
			<h4 class="text-center">Your spending history</h4>
      <br>
      <h4 class="text-center">Insert chart here</h4>	
		</div> <!-- end of col div -->
	</div> <!-- end of row -->
</div> <!-- end of container -->
