body {
	padding-top: 0;
}

.index-container {
	padding-top: 20px;
	padding-bottom: 100px;
	background-color: #efefef;
}

#index-h1 {
	margin: 0;
}

.btn-index {
	width: 300px;
	height: 40px;
	box-shadow: none;
	margin: 10px;
}

#logo-index {
	width: 90px;
	height: auto;
	margin: 0 0 20px 0;
	color: green;
}

#carousel {
	height: 300px;
	width: auto;
	margin: 20px 0 50px 0;
}

.carousel-caption {
	color: #333;
	margin-top: 10px;
	position: relative;
	left: auto;
	right: auto;
}

.carousel-inner > .item > img {
  margin: 0 auto;
	height: 270px;
	width: auto;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
	color: grey;
}


/* ipad */
@media (max-width: 768px) {
	#carousel {
		height: 300px;
		margin: 0 0 100px 0;
		padding-top: 15px;
	}
	.carousel-inner > .item > img {
		height: 270px;
	}
	.carousel-caption > h3 {
		font-size: 12px;
	}
	#logo-index {
		width: 60px;
		height: auto;
		margin: 0 0 15px 0;
	}
	h1 {
		margin: 0;
	}
	.index-container {
		padding-top: 80px;
		padding-bottom: 300px;
		background-color: #eee;
	}
}

/* iphone 6 plus */
@media (max-width: 414px) {
	#carousel {
		height: 250px;
		margin: 0 0 20px 0;
		padding-top: 15px;
	}
	.carousel-inner > .item > img {
		height: 150px;
	}
	.carousel-caption > h3 {
		font-size: 12px;
	}
	#logo-index {
		width: 60px;
		height: auto;
		margin: 0 0 15px 0;
	}
	h1 {
		margin: 0;
	}
	.index-container {
		padding-top: 20px;
		padding-bottom: 150px;
		background-color: #eee;
	}
}

/* iphone 5 and 6 */
@media (max-width: 380px) {
	#carousel {
		height: 200px;
		margin: 0 0 20px 0;
		padding-top: 15px;
	}
	.carousel-inner > .item > img {
		height: 150px;
	}
	.carousel-caption > h3 {
		font-size: 12px;
	}
	#logo-index {
		width: 60px;
		height: auto;
		margin: 0 0 15px 0;
	}
	h1 {
		margin: 0;
	}
	.index-container {
		padding-top: 20px;
		padding-bottom: 100px;
		background-color: #eee;
	}
}


