body {
	padding-top: 0;
}

.logo-section {
	padding-top: 50px;
	background-color: white;
	opacity: 1;
}

.avit {
	margin-top: 80px;
}

#index-h  {
	margin: 0;
	z-index: 100;
	color: #404040;
}

.btn-index {
	width: 200px;
	height: 40px;
	box-shadow: none;
	margin: 40px 20px;
	background-color: white;
	color: #1B48E8;
	font-weight: bold;
	border: solid 2px #1B48E8;
}

.btn-index:hover {
	background-color: #1B48E8;
	color: white;
	border: none;
}

#logo-index {
	width: 90px;
	height: auto;
	margin: 0 0 20px 0;
	color: green;
	z-index: 100;
}

#top-triangle {
	background-color: white;
	opacity: 1;
}

.glyphicon-triangle-bottom {
	font-size: 50px;
	display: block;
	color: #1B48E8;
}

.glyphicon-triangle-bottom:hover {
	color: #1B48E8;
	text-decoration: none;
}

.text-section {
	background-color: #A3A3A3;
	padding: 50px 0px;
}

.glyphicon-usd, .glyphicon-piggy-bank, .glyphicon-folder-open {
	font-size: 50px;
	padding: 15px;
	border: solid 5px;
	border-radius: 50px;
	color: #404040;
	margin: 20px;
}

.text-div {
	padding-top: 20px;
}

#bottom-triangle {
	background-color: #1B48E8;
	opacity: 0.8;
}

#carousel {
	height: 300px;
	width: auto;
	margin: 20px 0 50px 0;
}

.carousel-caption {
	color: #333;
	margin-top: 10px;
	position: relative;
	left: auto;
	right: auto;
}

.carousel-inner > .item > img {
  margin: 0 auto;
	height: 270px;
	width: auto;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
	color: grey;
}


/* ipad */
@media (max-width: 768px) {
	#carousel {
		height: 300px;
		margin: 0 0 100px 0;
		padding-top: 15px;
	}
	.carousel-inner > .item > img {
		height: 270px;
	}
	.carousel-caption > h3 {
		font-size: 12px;
	}
	#logo-index {
		width: 60px;
		height: auto;
		margin: 0 0 15px 0;
	}
	h1 {
		margin: 0;
	}
	.index-container {
		padding-top: 80px;
		padding-bottom: 300px;
		background-color: #eee;
	}
}

/* iphone 6 plus */
@media (max-width: 414px) {
	#carousel {
		height: 250px;
		margin: 0 0 20px 0;
		padding-top: 15px;
	}
	.carousel-inner > .item > img {
		height: 150px;
	}
	.carousel-caption > h3 {
		font-size: 12px;
	}
	#logo-index {
		width: 60px;
		height: auto;
		margin: 0 0 15px 0;
	}
	h1 {
		margin: 0;
	}
	.index-container {
		padding-top: 20px;
		padding-bottom: 150px;
		background-color: #eee;
	}
}

/* iphone 5 and 6 */
@media (max-width: 380px) {
	#carousel {
		height: 200px;
		margin: 0 0 20px 0;
		padding-top: 15px;
	}
	.carousel-inner > .item > img {
		height: 150px;
	}
	.carousel-caption > h3 {
		font-size: 12px;
	}
	#logo-index {
		width: 60px;
		height: auto;
		margin: 0 0 15px 0;
	}
	h1 {
		margin: 0;
	}
	.index-container {
		padding-top: 20px;
		padding-bottom: 100px;
		background-color: #eee;
	}
}


