// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.today-limit {
	padding-top: 50px;
}
.transactions-form {
	margin-bottom: 40px;
	margin-top: 40px;
}
.spending-field {
	margin-bottom: 20px;
}
.list-group-item {
	padding-bottom: 25px;
}
.glyphicon-trash {
	color: #449d44;
}
.trash-btn {
	background-color: transparent;
	padding-bottom: 25px;
}
.trash-btn:hover {
	background-color: transparent;
}
.input-group-addon {
	border-radius: 0;
}
.category-btn {
	padding: 35px 12px 35px 12px;
	font-weight: bold;
	border-radius: 5;
}
.cat-btn-div{
	padding: 5px !important;
}
@media (max-width: 1200px) {
	.category-btn {
		font-size: 12px;
	}
}
@media (max-width: 470px) {
	.category-btn {
		font-size: 9px; 
	}
}
@media (max-width: 350px) {
	.category-btn {
		font-size: 6px;
	}
}