// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.transactions-form {
	margin-bottom: 40px;
	margin-top: 0;
}
.spending-field {
	margin-bottom: 20px;
}
.list-group-item {
	padding-bottom: 25px;
}
.glyphicon-trash {
	color: rgba(27,72,232,1);
}
.trash-btn {
	background-color: transparent;
	padding-bottom: 25px;
}
.trash-btn:hover {
	background-color: transparent;
}
.input-group-addon {
	border-radius: 0;
}
.category-btn {
	padding: 35px 12px 35px 12px;
	font-weight: bold;
	color:white;
	border-radius: 5;
	background-color: rgba(27,72,232,.8);
	border: 1px solid #1B48E8;
}
.category-btn:hover {
	background-color:#1B48E8;
	color: white;
}
.cat-btn-div{
	padding: 5px !important;
}
.trans-well {
	min-height: 391px;
}
@media (max-width: 1200px) {
	.category-btn {
		font-size: 12px;
	}
}
@media (max-width: 470px) {
	.category-btn {
		font-size: 9px; 
	}
		.trans-list {
		font-size: 9px;
	}
}
@media (max-width: 350px) {
	.category-btn {
		font-size: 6px;
	}
		.trans-list {
		font-size: 7px;
	}

}

