// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 80px;
	color: #404040;
}

.input-group-addon {
	border: none;
	border-radius: 10px;
}

/* ipad */
@media (max-width: 768px) {
	.users-well {
		margin-top: 200px;
	}
}

/* iphone 6 plus */
@media (max-width: 414px) {
	.users-well {
		margin-top: 100px;
	}
}

/* iphone 5 and 6 */
@media (max-width: 380px) {
	.users-well {
		margin-top: 50px;
	}
}
#logo-navbar {
	width: 15px;
}