// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//navbar
.navbar {
	background-color: rgba(245,245,245,1);
}
.caret {
	color: rgba(27, 72, 232, .8) ;
}
#logo-navbar {
	width: 25px;
	margin-left: 6px;
	padding-top: 10px;
	margin-right: 20px;
	padding-bottom: 15px;
}
.navbar-brand {
	font-size: 30px;
}
.navbar-brand:hover {
	color: rgba(27, 72, 232, .8)!important;
}
.nav-txt {
	font-size: 20px;
}
.nav-txt:hover, a:hover{
	color: rgba(27, 72, 232, .8)!important;
}
//navbar end

body {
	color: #404040;
	font-family: 'Pontana Sans', sans-serif;
}

.input-group-addon {
	border: none;
	border-radius: 10px;
}

.users-well {
	margin-top: 80px;
}

.form-btn {
	background-color: rgba(27, 72, 232, .8);
	border: none;
}

.form-btn:hover {
	background-color: rgba(27, 72, 232, 1);
	border:none;
}
.category-select, .month-select {
	margin-top: 5px;
	border-top: 1px solid #ddd !important;
}

/* ipad */
@media (max-width: 768px) {
	.users-well {
		margin-top: 100px;
	}
}

/* iphone 6 plus */
@media (max-width: 414px) {
	.users-well {
		margin-top: 10px;
	}
}

/* iphone 5 and 6 */
@media (max-width: 380px) {
	.users-well {
		margin-top: 75px;
	}
}